#titlebar {
	display: none !important;
}

#tabs-container.top {
	padding-left: 0 !important;
	margin-top: -7px !important;
	border-bottom-width: 0 !important;
}

#tabs-container .toggle-trash svg {
	opacity: 0 !important;
}

.tab-position .tab .favicon {
	display: none;
}
